<div class="row valign-wrapper">
  <div class="col m3 offset-m3 s6 center-align">
    <h5>{{aqua.name}}</h5>
  </div>
  <div class="col m3 s6 center-align">
    <a class="btn-floating waves-effect waves-light blue" (click)="showInfo = !showInfo">
      <i *ngIf="showInfo" class="material-icons">
        keyboard_arrow_up
      </i>
      <i *ngIf="!showInfo" class="material-icons">
        keyboard_arrow_down
      </i>
    </a>
  </div>
</div>

<div class="info" *ngIf="showInfo">
  <div class="input-field">
    <input type="text" id="name" [(ngModel)]="aqua.name" class="validate">
    <label for="name">Назва акваріуму</label>
  </div>
  <div class="input-field">
    <input type="text" id="type" [(ngModel)]="aqua.type" class="validate">
    <label for="type">Тип</label>
  </div>
  <div class="input-field">
    <input type="number" id="capacity" [(ngModel)]="aqua.capacity" class="validate">
    <label for="capacity">Місткість</label>
  </div>
  <a class="btn-floating waves-effect waves-light blue" (click)="onRemove(aqua)">
    <i class="material-icons">
      remove
    </i>
  </a>
</div>
